body{
    background-color: rgb(137, 164, 137);
}
.header{
display: flex;
}
.header ul li{
    font-size: 15px;
    display: inline;
   padding-right: 20px;
  
   
}
.header img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    padding: 10px;
    margin-right: 200px;

}
.header ul li :hover{

    color:brown;
    }
    .content{
        background-color: rgb(150, 102, 130);
        width: 400px;
        height: 250px;
    }
    .container{
        display: inline;
    }
